@import url(stylesheet.css);
header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999; }
  header .container-fluid .row {
    width: 100vw; }
    header .container-fluid .row .navbar {
      background-color: #FFFFFF;
      padding: 0; }
      @media screen and (max-width: 414px) {
        header .container-fluid .row .navbar {
          width: auto;
          padding: 0 15px; } }
      header .container-fluid .row .navbar .navbar-brand {
        padding-left: 21px;
        box-sizing: border-box; }
        @media screen and (max-width: 414px) {
          header .container-fluid .row .navbar .navbar-brand {
            padding-left: 0;
            margin: 0; } }
      header .container-fluid .row .navbar div.order-lg-1 span.cart_counter[data-count] {
        font-size: 21px;
        color: #091121;
        font-family: 'Avenir Next Cyr';
        font-weight: 600;
        display: inline-block;
        line-height: 123px;
        border-left: 2px solid rgba(9, 17, 33, 0.1);
        padding-left: 53px; }
        @media screen and (max-width: 320px) {
          header .container-fluid .row .navbar div.order-lg-1 span.cart_counter[data-count] {
            padding-left: 23px; } }
        header .container-fluid .row .navbar div.order-lg-1 span.cart_counter[data-count]:after {
          content: attr(data-count);
          display: inline-block;
          color: #D22001;
          font-size: 21px;
          padding-right: 37px;
          padding-left: 18px; }
          @media screen and (max-width: 768px) {
            header .container-fluid .row .navbar div.order-lg-1 span.cart_counter[data-count]:after {
              padding-right: 0; } }
      header .container-fluid .row .navbar .navbar-toggler {
        border: none;
        outline: none; }
        @media screen and (max-width: 414px) {
          header .container-fluid .row .navbar .navbar-toggler {
            padding: 0; } }
        header .container-fluid .row .navbar .navbar-toggler i {
          color: #091121;
          font-size: 21px; }
    @media screen and (max-width: 768px) {
      header .container-fluid .row .navbar-nav {
        padding: 15px 0; } }
    header .container-fluid .row .navbar-nav .nav-item {
      line-height: 122px;
      padding: 0;
      margin: 0 1em;
      border-top: 5px solid transparent;
      font-size: 21px;
      color: #091121;
      font-family: 'Avenir Next Cyr';
      font-weight: 600;
      transition: 0.3s; }
      header .container-fluid .row .navbar-nav .nav-item:hover {
        border-top: 5px solid #D22001; }
      @media screen and (max-width: 768px) {
        header .container-fluid .row .navbar-nav .nav-item {
          text-align: center;
          margin: 0; } }
      @media screen and (max-width: 320px) {
        header .container-fluid .row .navbar-nav .nav-item {
          line-height: 92px; } }

.banner .row .slider .slide {
  width: 100%;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }
  .banner .row .slider .slide .slide_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .banner .row .slider .slide .slide_content h2 {
      font-size: 80px;
      line-height: 91px;
      color: #FFFFFF;
      max-width: 791px;
      padding-bottom: 17px;
      font-family: 'Avenir Next Cyr';
      font-weight: 900; }
      @media screen and (max-width: 414px) {
        .banner .row .slider .slide .slide_content h2 {
          font-size: 50px;
          line-height: 50px; } }
      @media screen and (max-width: 360px) {
        .banner .row .slider .slide .slide_content h2 {
          font-size: 45px;
          line-height: 45px; } }
      @media screen and (max-width: 320px) {
        .banner .row .slider .slide .slide_content h2 {
          font-size: 40px;
          line-height: 40px; } }
      .banner .row .slider .slide .slide_content h2:after {
        content: "";
        display: inline-block;
        background-color: #D22001;
        width: 12px;
        height: 12px;
        margin-left: 5px; }
        @media screen and (max-width: 414px) {
          .banner .row .slider .slide .slide_content h2:after {
            width: 8px;
            height: 8px; } }
    .banner .row .slider .slide .slide_content p {
      font-size: 21px;
      line-height: 44px;
      max-width: 546px;
      color: #FFFFFF;
      padding-bottom: 54px;
      font-family: 'Avenir Next Cyr';
      font-weight: 500; }
      @media screen and (max-width: 414px) {
        .banner .row .slider .slide .slide_content p {
          font-size: 16px;
          line-height: 32px; } }
      @media screen and (max-width: 360px) {
        .banner .row .slider .slide .slide_content p {
          font-size: 14px;
          line-height: 28px;
          padding-bottom: 10px; } }
      @media screen and (max-width: 320px) {
        .banner .row .slider .slide .slide_content p {
          font-size: 14px;
          line-height: 28px; } }
    .banner .row .slider .slide .slide_content a {
      color: #FFFFFF;
      text-decoration: none;
      border-bottom: 5px solid #FFFFFF;
      line-height: 33px;
      font-size: 24px;
      text-transform: uppercase;
      width: 192px;
      position: absolute;
      top: 205px;
      right: 15px;
      font-weight: bold;
      font-family: 'Avenir Next Cyr'; }
      @media screen and (max-width: 414px) {
        .banner .row .slider .slide .slide_content a {
          font-size: 18px;
          width: 150px;
          top: 220px; } }
      @media screen and (max-width: 320px) {
        .banner .row .slider .slide .slide_content a {
          font-size: 14px;
          width: 120px;
          top: 220px; } }
      .banner .row .slider .slide .slide_content a:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 21px solid #D22001;
        margin-right: 15px; }
        @media screen and (max-width: 414px) {
          .banner .row .slider .slide .slide_content a:before {
            border-width: 7px 18px 7px 18px; } }
        @media screen and (max-width: 320px) {
          .banner .row .slider .slide .slide_content a:before {
            border-width: 6px 16px 6px 16px; } }
.banner .row .owl-nav {
  position: absolute;
  bottom: 70px;
  right: 10.7vw; }
  @media screen and (max-width: 768px) {
    .banner .row .owl-nav {
      display: none; } }
  .banner .row .owl-nav .owl-next, .banner .row .owl-nav .owl-prev {
    width: 67px;
    height: 67px;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    outline: none;
    box-sizing: border-box;
    background-color: transparent; }
    .banner .row .owl-nav .owl-next i, .banner .row .owl-nav .owl-prev i {
      color: #FFFFFF;
      font-size: 23px;
      line-height: 61px; }
  .banner .row .owl-nav .owl-next {
    margin-left: 12px; }
    .banner .row .owl-nav .owl-next i {
      transform: translateX(33%); }
  .banner .row .owl-nav .owl-prev {
    margin-right: 12px; }
    .banner .row .owl-nav .owl-prev i {
      transform: translateX(-33%); }
.banner .row .owl-dots {
  display: none; }
.banner .row .slider-counter {
  top: 197px;
  left: 9.5%;
  z-index: 1; }
  .banner .row .slider-counter .slider-counter-current {
    font-size: 24px;
    font-family: 'Avenir Next Cyr';
    font-weight: 900;
    line-height: 33px;
    color: #FFFFFF; }
  .banner .row .slider-counter .slider-counter-length {
    opacity: 0.7;
    color: #FFFFFF;
    font-family: "Avenir Next Cyr";
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    top: 4px;
    left: 41px; }

/*# sourceMappingURL=style.css.map */
